# put this fie in project root

version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.prod
    image: barter-marketplace-web:latest
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - static_volume:/app/static
      - media_volume:/app/media
    expose:
      - "8000"

  nginx:
    image: nginx:1.25-alpine
    ports:
      - "80:80"
    depends_on:
      - web
    volumes:
      - static_volume:/vol/static
      - media_volume:/vol/media
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
  static_volume:
  media_volume:
